.clients {

		// .clients__container

		&__container {
		}

		// .clients__item s

		&__items {
            display: flex;
            justify-content: center;
            align-items: center;
			flex-wrap: wrap;

		}

		// .clients__item

		&__item {
			flex: 0 1 16.6667%;
			min-width: 140px;
			padding: 8px 15px;
			img {
				max-width: 100%;
			}
		}

}
.page{
   &__clients{
	   padding:50px 0;
   }
}